<div id="app">
  <h1>Snacks List</h1>
  <% @snacks.each do |snack| %>
    
    <% if snack["optional"] == false %>
      <p>Always Purchased: <%= snack["name"] %></p>
    <% else %>
      <p>Suggested: <%= snack["name"] %></p>
    <% end %>

  <% end %>
  <button class="btn btn-default" @click="toggleSuggestion">New Suggestion</button>
  <div v-if='toggleNewSuggestion'>
    <h2>Hey Dude</h2>
  </div>
  <div v-for="suggestion in suggestions">
    {{ suggestion.name }}
  </div>
</div>
