<h1>Snacks List</h1>
<% @snacks.each do |snack| %>
  
  <% if snack["optional"] == false %>
    <p>Always Purchased: <%= snack["name"] %></p>
  <% else %>
    <p>Suggested: <%= snack["name"] %></p>
  <% end %>

<% end %>
<a href="#" class="button" id="new-suggestion-button" onclick="newSuggestionToggle(event)">New Suggestion</a>
<div id="new-suggestion-info">
  <h1>Test</h1>
</div>

<%#= link_to "New Suggestion", "/api/v1/suggestions/new" %>
